.headersearch {
  height: 44px;
  border-radius: 999px;
  /* padding: 12px 8px; */
  font-weight: 600;
  border:0; outline:0;
  box-shadow: 0 0 0 1px gray inset;
  background-color: var(--black);
  color: white;
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headersearch-icon {
  /* background-color: #fff6; */
  /* border-radius: 999px; */
  width: 24px; height: 24px; margin: 10px;
  cursor: pointer;
}
.headersearch input {
  padding-right: 12px;
  font-weight: 600;
  border:0; outline:0;
  background-color: transparent;
  color: white;
  width: 150px;
}
.headersearch-input::placeholder { color:white; opacity:1 }