.characters-container {
  margin: 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.loadmore {
  border-radius: 999px;
  background-color: var(--green);
  padding: 12px 24px;
  font-weight: 600;
  border:0; outline:0;
  box-sizing: border-box;
  cursor: pointer;
}
.loadmore:disabled {
  opacity: 0.75;
}